<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <style>
        /* ______________________________Footer Start______________________________ */
        /* .footer h4,
        .footer hr,
        .footer a,
        .footer p {
            color: #b9d3f6 !important;
        }

        .footer .col:hover h4,
        .col:hover hr {
            transition: all 0.5s ease-in-out;
            color: red !important;
        }

        .footer a:hover {
            color: yellow !important;
        }

        .footer .company_description,
        .footer .copyright,
        .footer .developed-by,
        .footer .policy {
            font-size: 12px;
            text-align: justify;
        }

        .footer a span {
            font-size: small !important;
        }

        .footer a:hover span {
            transition: all 0.5s ease-in-out;
            margin-left: 7px !important;
        }

        .footer-social-icon .bi-facebook {
            color: #087aea !important;
        }

        .footer-social-icon .bi-linkedin {
            color: #0f8ac2 !important;
        }

        .footer-social-icon .bi-pinterest {
            color: #c8232c;
        }

        .footer-social-icon .bi-twitter {
            color: #1da1f2;
        }

        .footer-social-icon .bi-instagram {
            color: #ff0d4e;
        }

        .footer-social-icon .bi-youtube {
            color: #ff0000;
        }

        .footer-social-icon .bi-whatsapp {
            color: #2cd43c;
        }

        .footer-social-icon .bi-messenger {
            color: #087aea;
        }

        .footer-social-icon .bi-skype {
            color: #00aff0;
        } */

        .footer .company_logo {
  width: 140px;
  height: auto;
}

.footer h4,
.footer hr,
.footer a,
.footer p {
  color: #b9d3f6 !important;
}

.footer .col:hover h4,
.footer .col:hover hr {
  transition: all 0.5s ease-in-out;
  color: var(--dark_orange) !important;
}

.footer a:hover {
  color: blue !important;
}

.footer .company_description,
.footer .copyright,
.footer .developed-by {
  font-size: smaller;
  text-align: justify;
}

.footer a span {
  font-size: small !important;
}

.footer a:hover span {
  transition: all 0.5s ease-in-out;
  margin-left: 7px !important;
}

        /* ______________________________Footer End______________________________ */
    </style>

</head>

<body>
    <footer>
        <div class="footer">
            <div class="container-fluid bg-dark pt-4 pb-1">
                <div class="row row-cols-1 row-cols-md-4 pb-4">
                    <div class="col">
                        <div class="mx-1">
                            <img src="{{ asset('admin-assets/images/biz-info-bd.png') }}" class="mx-auto d-block company_logo" alt="Biz Info BD Logo" title="Biz Info BD Logo" style="height: 75px; width: 75px;">
                            <h4 class="text-center company_name">BIZ INFO BD</h4>
                            <hr class="mt-0 horizontal_line">
                            <p class="company_description">BIZ INFO BD is an online directory that lists contact information for businesses and organizations that are organized by categories, such as restaurants, medical services, or retail stores where we have included the business name, address, phone number, and website link. we allow users to not only find the local businesses and services available in a particular area quick and easy way but also to read details information of other businesses or organizations before they make a decision, with the help of location or category-based search.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="m-3">
                            <h4>Contact Info</h4>
                            <hr class="mt-0 horizontal_line">
                            <a href="tel:+8801722401750" class="text-decoration-none d-block mb-1" title="Phone Number">
                                <i class="bi bi-telephone fs-6"></i>
                                <span class="fs-6 ms-1">+8801722401750</span>
                            </a>
                            <a href="tel:+8801789773767" class="text-decoration-none d-block mb-1" title="Phone Number">
                                <i class="bi bi-telephone fs-6"></i>
                                <span class="fs-6 ms-1">+8801789773767</span>
                            </a>
                            <a href="mailto:sabur@bizinfobd.com" class="text-decoration-none d-block mb-1" title="Email Link">
                                <i class="bi bi-envelope fs-6"></i>
                                <span class="fs-6 ms-1">sabur@bizinfobd.com</span>
                            </a>
                            <a href="mailto:ayub@bizinfobd.com" class="text-decoration-none d-block mb-1" title="Email Link">
                                <i class="bi bi-envelope fs-6"></i>
                                <span class="fs-6 ms-1">ayub@bizinfobd.com</span>
                            </a>
                            <a href="https://wa.me/+8801789773767" class="text-decoration-none d-block mb-1" target="_blank" title="Whatsapp Link">
                                <i class="bi bi-whatsapp fs-6"></i>
                                <span class="fs-6 ms-1">Whatsapp</span>
                            </a>
                            <a href="https://www.facebook.com/messages/t/108472925476756" class="text-decoration-none d-block mb-1" target="_blank" title="Facebook Messenger link">
                                <i class="bi bi-messenger fs-6"></i>
                                <span class="fs-6 ms-1">Messenger</span>
                            </a>
                            <a href="skype:ayubxali?chat" class="text-decoration-none d-block mb-1" target="_blank" title="Skype link">
                                <i class="bi bi-skype fs-6"></i>
                                <span class="fs-6 ms-1">Skype</span>
                            </a>
                            <a href="https://goo.gl/maps/tDRAZ1rWB5pnsRBMA" class="text-decoration-none d-block mb-1" target="_blank" title="Google map direction">
                                <i class="bi bi-geo-alt fs-6"></i>
                                <span class="fs-6 ms-1">2/8/J, Tolarbag Zero Point, Mirpur-1, Dhaka-1216</span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="m-3">
                            <h4 class="">Quick Link</h4>
                            <hr class="mt-0 horizontal_line">
                            <a href="{{route('home')}}" class="text-decoration-none d-block mb-1" title="Visit home page">
                                <i class="bi bi-house-door fs-6"></i>
                                <span class="fs-6 ms-1">Home</span>
                            </a>
                            <a href="{{route('about-us')}}" class="text-decoration-none d-block mb-1" title="Visit about us page">
                                <i class="bi bi-person-vcard fs-6"></i>
                                <span class="fs-6 ms-1">About Us</span>
                            </a>
                            <a href="{{route('service')}}" class="text-decoration-none d-block mb-1" title="Visit service page">
                                <i class="bi bi-tools fs-6"></i>
                                <span class="fs-6 ms-1">Services</span>
                            </a>
                            <a href="{{route('company')}}" class="text-decoration-none d-block mb-1" title="Visit company page">
                                <i class="bi bi-building-add fs-6"></i>
                                <span class="fs-6 ms-1">Add Company</span>
                            </a>
                            <a href="{{route('company-find')}}" class="text-decoration-none d-block mb-1" title="Visit search companies page">
                                <i class="bi bi-buildings fs-6"></i>
                                <span class="fs-6 ms-1">Search Company</span>
                            </a>
                            <a href="{{route('advertise')}}" class="text-decoration-none d-block mb-1" title="Visit advertise page">
                                <i class="bi bi-badge-ad fs-6"></i>
                                <span class="fs-6 ms-1">Advertise With Us</span>
                            </a>
                            <a href="{{route('contact')}}" class="text-decoration-none d-block mb-1" title="Visit contact page">
                                <i class="bi bi-telephone fs-6"></i>
                                <span class="fs-6 ms-1">Contact Us</span>
                            </a>
                            <a href="{{route('blog-category')}}" class="text-decoration-none d-block mb-1" title="Visit about us page">
                                <i class="bi bi-postcard fs-6"></i>
                                <span class="fs-6 ms-1">Blogs</span>
                            </a>
                            <a href="{{route('sitemap')}}" class="text-decoration-none d-block mb-1" title="Visit Sitemap page">
                                <i class="bi bi-diagram-3-fill fs-6"></i>
                                <span class="fs-6 ms-1">Site Map</span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="m-3 footer-social-icon">
                            <h4>Follow Us</h4>
                            <hr class="mt-0 horizontal_line">
                            <div class="row row-cols-2 row-cols-md-1 row-cols-lg-2">
                                <div class="col">
                                    <a href="https://www.facebook.com/bizinfobd" class="text-decoration-none d-block mb-1" target="_blank" title="Visit facebook page">
                                        <i class="bi bi-facebook fs-6"></i>
                                        <span class="fs-6 ms-1">Facebook</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="https://www.linkedin.com/company/biz-info-bd/" class="text-decoration-none d-block mb-1" target="_blank" title="Visit linkedin page">
                                        <i class="bi bi-linkedin fs-6"></i>
                                        <span class="fs-6 ms-1">LinkedIn</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="https://www.pinterest.com/bizinfobd/" class="text-decoration-none d-block mb-1" target="_blank" title="Visit pinterest page">
                                        <i class="bi bi-pinterest fs-6"></i>
                                        <span class="fs-6 ms-1">Pinterest</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="https://twitter.com/BizInfoBD146128" class="text-decoration-none d-block mb-1" target="_blank" title="Visit twitter page">
                                        <i class="bi bi-twitter fs-6"></i>
                                        <span class="fs-6 ms-1">Twitter</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="https://www.instagram.com/bizinfobd/" class="text-decoration-none d-block mb-1" target="_blank" title="Visit instagram page">
                                        <i class="bi bi-instagram fs-6"></i>
                                        <span class="fs-6 ms-1">Instagram</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="https://www.youtube.com/@bizinfobd" class="text-decoration-none d-block mb-1" target="_blank" title="Visit youtube page">
                                        <i class="bi bi-youtube fs-6"></i>
                                        <span class="fs-6 ms-1">YouTube</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="fb-page overflow-hidden" data-href="https://www.facebook.com/bizinfobd" data-tabs="timeline" data-width="270" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/bizinfobd" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bizinfobd">Biz Info BD</a></blockquote>
                        </div>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-3 border-top border-1 border-primary px-3 border-opacity-50 pt-3">
                    <div class="col text-center text-md-start copyright ps-2">
                        <!-- <p>Copyright <i class="bi bi-c-circle"></i> {{ date('Y') }} {{ config('app.name', 'sudip.me') }} | All Rights Reserved</p> -->
                        <p>Copyright@2023 BIZ INFO BD | All Rights Reserved</p>
                    </div>
                    <div class="col text-center policy mb-3 mb-md-0">
                        <a href="{{route('privacy-policy')}}" class="text-decoration-none" title="Visit privacy policy page">
                            Privacy Policy
                        </a>
                        <span class="mx-1 text-primary">|</span>
                        <a href="{{route('terms-conditions')}}" class="text-decoration-none" title="Visit terms and conditions page">
                            Terms & Conditions
                        </a>
                        <span class="mx-1 text-primary">|</span>
                        <a href="{{route('terms-conditions')}}" class="text-decoration-none" title="Visit terms and conditions page">
                            Refund Policy
                        </a>
                    </div>
                    <div class="col text-center text-md-end developed-by pe-2">
                        <p>Developed By <a href="{{ route('about-us') }}" target="_blank" title="Visit BIZ INFO BD About page">BIZ INFO BD</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
    <!-- Facebook JavaScript SDK -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v16.0&appId=699888458367631&autoLogAppEvents=1" nonce="6IX2Wj8g"></script>
   
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>